In [18]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [21]:
all_verbs = pd.read_csv("verbs.tsv", sep="\t")

In [22]:
all_verbs.head()

,id,gloss,"substring_index(t.stem, '-', 1)",relation,speaker_code,target_child_id,target_child_age
0,10,want,want,1|0|ROOT,INV,1,806.5
1,77,have,have,5|0|ROOT,INV,1,822.5
2,81,makes,make,7|4|CMOD,INV,1,806.5
3,92,fall,fall,2|6|SUBJ,INV,1,822.5
4,93,does,do,2|5|CJCT,INV,1,806.5

In [24]:
all_verbs.rename(columns={all_verbs.columns[2]: "stem"}, inplace=True)
all_verbs.head()

   id  gloss  stem  relation speaker_code  target_child_id  target_child_age
0  10   want  want  1|0|ROOT          INV                1             806.5
1  77   have  have  5|0|ROOT          INV                1             822.5
2  81  makes  make  7|4|CMOD          INV                1             806.5
3  92   fall  fall  2|6|SUBJ          INV                1             822.5
4  93   does    do  2|5|CJCT          INV                1             806.5

In [26]:
counts_by_child = all_verbs.groupby("target_child_id").stem.value_counts(normalize=True)
mean_rel_freqs = counts_by_child.mean(level="stem")
mean_rel_freqs.to_csv("verb_freqs.tsv", sep="\t")

## Corpus data

    Corpus				Age Range	N	Media	Comments
    Bohannon			2;8 and 3;0	2	-		children interacting with different adults
    Clark				2;2-3;2		1	-		transcripts with attention to disfluencies
    Demetras - Trevor	2;0-3;11	1	-		father-son interactions
    Demetras - Working	2;0-2;6		3	-		2 weeks of recording for each child
    Morisset			2;6			206	-		children of welfare mothers at three sites
    Nelson				1;9-3;0		1	audio	bedtime monologues, linked